<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.acc.dao.GrhxCrawlerMapper">

	<resultMap id="grhxCrawler" type="com.acc.model.GrhxCrawler">
        <result property="id" column="ID"/>
        <result property="title" column="TITLE"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="date" column="DATE"/>
        <result property="province" column="PROVINCE"/>
        <result property="messagetype" column="MESSAGETYPE"/>
        <result property="content" column="CONTENT"/>
        <result property="webtype" column="WEBTYPE"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		ID,TITLE,CREATE_TIME,DATE,PROVINCE,MESSAGETYPE,CONTENT,WEBTYPE
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO GRHX_CRAWLERDATA (
        	ID ,
        	TITLE ,
        	CREATE_TIME ,
        	DATE,
        	PROVINCE,
        	MESSAGETYPE,
        	CONTENT,
        	WEBTYPE
        ) VALUES (
        	#{id} ,
        	#{title} ,
        	#{createTime} ,
        	#{date} ,
        	#{province} ,
        	#{messagetype} ,
        	#{content} ,
        	#{webtype} 
        )
    ]]>
	</insert>
</mapper>

